In [1]:
import feature_eng.utils as utils

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
train, prop = utils.load_train_data()

/home/hzn/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [3]:
column_types = list(map(lambda x: prop[x].dtype, prop.columns))

In [4]:
column_types_set = set(column_types)
column_types_set

{dtype('int64'), dtype('float64'), dtype('O')}

In [5]:
column_types_count = list(map(lambda x: (x,column_types.count(x)), column_types_set))
column_types_count

[(dtype('O'), 5), (dtype('float64'), 52), (dtype('int64'), 1)]

In [6]:
object_columns = list(filter(lambda x: prop[x].dtype == 'object', prop.columns))
object_columns

['hashottuborspa',
 'propertycountylandusecode',
 'propertyzoningdesc',
 'fireplaceflag',
 'taxdelinquencyflag']

In [7]:
int_columns = list(filter(lambda x: prop[x].dtype == 'int64', prop.columns))
int_columns

['parcelid']

In [8]:
float_columns = list(filter(lambda x: prop[x].dtype == 'float64', prop.columns))

In [9]:
# object columns
for col in object_columns:
    print(prop[col].describe())
    print("#")
    print(prop[col].value_counts().head())
    print(">>>>>>>>>>>>>>>>>>>>\n")

count     69014
unique        1
top        True
freq      69014
Name: hashottuborspa, dtype: object
#
True    69014
Name: hashottuborspa, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count     2972940
unique        240
top          0100
freq      1153896
Name: propertycountylandusecode, dtype: object
#
0100    1153896
122      522145
0101     247494
010C     225410
1111     126491
Name: propertycountylandusecode, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count     1978629
unique       5638
top          LAR1
freq       275029
Name: propertyzoningdesc, dtype: object
#
LAR1     275029
LAR3      67105
LARS      54859
LBR1N     52750
LAR2      48808
Name: propertyzoningdesc, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count     5163
unique       1
top       True
freq      5163
Name: fireplaceflag, dtype: object
#
True    5163
Name: fireplaceflag, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count     56462
unique        1
top           Y
freq      56462
Name: taxdelinquencyflag, dtype: object
#
Y    56462
Name: taxdelinquencyflag, dtype: int64
>>>>>>>>>>>>>>>>>>>>

In [10]:
# float type columns, many of the columns are actually categorical / boolean
# Supress scientific notation
pd.set_option('display.float_format', lambda x: '%.1f' % x)
for col in float_columns:
    print(prop[col].describe())
    print("#")
    print(prop[col].value_counts().head())
    print(">>>>>>>>>>>>>>>>>>>>\n")

count   811519.0
mean         1.9
std          3.1
min          1.0
25%          1.0
50%          1.0
75%          1.0
max         13.0
Name: airconditioningtypeid, dtype: float64
#
1.0     742364
13.0     58457
5.0       8795
11.0      1818
12.0        59
Name: airconditioningtypeid, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   6061.0
mean       7.2
std        2.4
min        2.0
25%        7.0
50%        7.0
75%        7.0
max       27.0
Name: architecturalstyletypeid, dtype: float64
#
7.0     5251
8.0      380
2.0      201
21.0     150
3.0       58
Name: architecturalstyletypeid, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   1628.0
mean     646.9
std      538.8
min       20.0
25%      272.0
50%      534.0
75%      847.2
max     8516.0
Name: basementsqft, dtype: float64
#
1528.0    25
700.0     21
240.0     21
100.0     18
144.0     16
Name: basementsqft, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2973755.0
mean          2.2
std           1.1
min           0.0
25%           2.0
50%           2.0
75%           3.0
max          20.0
Name: bathroomcnt, dtype: float64
#
2.0    1218664
3.0     629351
1.0     499330
2.5     206856
4.0     132076
Name: bathroomcnt, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2973767.0
mean          3.1
std           1.3
min           0.0
25%           2.0
50%           3.0
75%           4.0
max          20.0
Name: bedroomcnt, dtype: float64
#
3.0    1169462
4.0     727052
2.0     605367
5.0     181222
0.0     121466
Name: bedroomcnt, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   12629.0
mean        3.7
std         0.5
min         1.0
25%         3.0
50%         4.0
75%         4.0
max         5.0
Name: buildingclasstypeid, dtype: float64
#
4.0    9265
3.0    3161
2.0      81
1.0      65
5.0      57
Name: buildingclasstypeid, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   1938488.0
mean          5.8
std           1.8
min           1.0
25%           4.0
50%           7.0
75%           7.0
max          12.0
Name: buildingqualitytypeid, dtype: float64
#
7.0     1133238
4.0      692160
1.0       69467
10.0      39713
12.0       3692
Name: buildingqualitytypeid, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2856305.0
mean          2.3
std           1.0
min           1.0
25%           2.0
50%           2.0
75%           3.0
max          20.0
Name: calculatedbathnbr, dtype: float64
#
2.0    1218652
3.0     629351
1.0     499322
2.5     206563
4.0     132076
Name: calculatedbathnbr, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   17096.0
mean       66.0
std         0.0
min        66.0
25%        66.0
50%        66.0
75%        66.0
max        66.0
Name: decktypeid, dtype: float64
#
66.0    17096
Name: decktypeid, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   202717.0
mean      1380.6
std        632.9
min          3.0
25%       1012.0
50%       1283.0
75%       1615.0
max      31303.0
Name: finishedfloor1squarefeet, dtype: float64
#
1252.0    923
1233.0    864
1120.0    705
1226.0    616
1612.0    597
Name: finishedfloor1squarefeet, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2929652.0
mean       1827.2
std        1819.8
min           1.0
25%        1213.0
50%        1572.0
75%        2136.0
max      952576.0
Name: calculatedfinishedsquarefeet, dtype: float64
#
1440.0    8946
1344.0    7203
1200.0    7098
960.0     6014
1120.0    5918
Name: calculatedfinishedsquarefeet, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2709184.0
mean       1760.0
std         971.1
min           1.0
25%        1196.0
50%        1539.0
75%        2070.0
max      290345.0
Name: finishedsquarefeet12, dtype: float64
#
1440.0    6941
1200.0    6636
1344.0    6235
1120.0    5660
960.0     5611
Name: finishedsquarefeet12, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   7672.0
mean    1178.9
std      357.1
min      120.0
25%      960.0
50%     1296.0
75%     1440.0
max     2688.0
Name: finishedsquarefeet13, dtype: float64
#
1440.0    1571
1344.0     709
1248.0     453
1536.0     355
720.0      245
Name: finishedsquarefeet13, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   190798.0
mean      2739.2
std       5447.4
min        112.0
25%       1694.0
50%       2172.0
75%       2976.0
max     820242.0
Name: finishedsquarefeet15, dtype: float64
#
1536.0    647
1728.0    429
1600.0    415
1440.0    413
1800.0    402
Name: finishedsquarefeet15, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   202717.0
mean      1388.9
std        664.5
min          3.0
25%       1013.0
50%       1284.0
75%       1618.0
max      31303.0
Name: finishedsquarefeet50, dtype: float64
#
1252.0    923
1233.0    864
1120.0    705
1226.0    616
1612.0    597
Name: finishedsquarefeet50, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count    22001.0
mean      2414.3
std       7695.3
min        117.0
25%       1079.0
50%       1992.0
75%       3366.0
max     952576.0
Name: finishedsquarefeet6, dtype: float64
#
952.0     101
800.0      90
3820.0     88
720.0      74
600.0      68
Name: finishedsquarefeet6, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2973780.0
mean       6048.0
std          20.2
min        6037.0
25%        6037.0
50%        6037.0
75%        6059.0
max        6111.0
Name: fips, dtype: float64
#
6037.0    2009362
6059.0     741565
6111.0     222853
Name: fips, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   312637.0
mean         1.2
std          0.5
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          9.0
Name: fireplacecnt, dtype: float64
#
1.0    269643
2.0     34407
3.0      7696
4.0       710
5.0       126
Name: fireplacecnt, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2856305.0
mean          2.2
std           1.0
min           1.0
25%           2.0
50%           2.0
75%           3.0
max          20.0
Name: fullbathcnt, dtype: float64
#
2.0    1425661
3.0     660139
1.0     544928
4.0     151004
5.0      43918
Name: fullbathcnt, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   883267.0
mean         1.8
std          0.6
min          0.0
25%          2.0
50%          2.0
75%          2.0
max         25.0
Name: garagecarcnt, dtype: float64
#
2.0    660462
1.0    177579
3.0     19634
0.0     14005
4.0      8495
Name: garagecarcnt, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   883267.0
mean       383.8
std        245.4
min          0.0
25%        324.0
50%        441.0
75%        494.0
max       7749.0
Name: garagetotalsqft, dtype: float64
#
0.0      196752
400.0     33443
360.0     29703
441.0     26753
462.0     25476
Name: garagetotalsqft, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   1806401.0
mean          4.0
std           3.3
min           1.0
25%           2.0
50%           2.0
75%           7.0
max          24.0
Name: heatingorsystemtypeid, dtype: float64
#
2.0     1156830
7.0      595453
6.0       27480
24.0      21107
20.0       3216
Name: heatingorsystemtypeid, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count    2973780.0
mean    34001468.7
std       243381.2
min     33324388.0
25%     33827684.8
50%     34008249.0
75%     34161860.0
max     34819650.0
Name: latitude, dtype: float64
#
33984600.0    862
33708500.0    760
34056700.0    740
34171800.0    611
33766300.0    568
Name: latitude, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count      2973780.0
mean    -118201934.2
std         345317.1
min     -119475780.0
25%     -118392983.2
50%     -118172540.5
75%     -117949467.8
max     -117554316.0
Name: longitude, dtype: float64
#
-118390000.0    1718
-118438000.0    1585
-118389000.0    1568
-118252000.0    1402
-118432000.0    1371
Name: longitude, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count     2709118.0
mean        22822.8
std        337592.4
min           100.0
25%          5688.0
50%          7000.0
75%          9898.0
max     328263808.0
Name: lotsizesquarefeet, dtype: float64
#
6000.0    44730
5000.0    17546
7200.0    15383
7000.0    11956
6500.0    11624
Name: lotsizesquarefeet, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   517534.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: poolcnt, dtype: float64
#
1.0    517534
Name: poolcnt, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   27960.0
mean      519.7
std       191.3
min        19.0
25%       430.0
50%       495.0
75%       594.0
max     17410.0
Name: poolsizesum, dtype: float64
#
450.0    3179
400.0     972
480.0     917
500.0     828
512.0     826
Name: poolsizesum, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   36939.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: pooltypeid10, dtype: float64
#
1.0    36939
Name: pooltypeid10, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   32075.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: pooltypeid2, dtype: float64
#
1.0    32075
Name: pooltypeid2, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   485459.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: pooltypeid7, dtype: float64
#
1.0    485459
Name: pooltypeid7, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2973780.0
mean        260.0
std          15.9
min          31.0
25%         261.0
50%         261.0
75%         261.0
max         275.0
Name: propertylandusetypeid, dtype: float64
#
261.0    2148362
266.0     481067
246.0     114888
269.0      61469
263.0      58438
Name: propertylandusetypeid, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count    2973780.0
mean    60483449.6
std       200811.7
min     60371011.1
25%     60373203.0
50%     60375712.0
75%     60590423.1
max     61110091.0
Name: rawcensustractandblock, dtype: float64
#
60590524.3    1518
60379203.4    1455
60590626.1     895
60371371.0     886
60375766.0     825
Name: rawcensustractandblock, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2922372.0
mean      34993.4
std       50727.5
min        3491.0
25%       12447.0
50%       25218.0
75%       45457.0
max      396556.0
Name: regionidcity, dtype: float64
#
12447.0    670925
46298.0     93470
16764.0     59802
52650.0     58234
25218.0     56962
Name: regionidcity, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2973780.0
mean       2570.5
std         788.1
min        1286.0
25%        2061.0
50%        3101.0
75%        3101.0
max        3101.0
Name: regionidcounty, dtype: float64
#
3101.0    2009362
1286.0     741565
2061.0     222853
Name: regionidcounty, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   1156402.0
mean     193476.4
std      165713.3
min        6952.0
25%       46736.0
50%      118920.0
75%      274800.0
max      764167.0
Name: regionidneighborhood, dtype: float64
#
118208.0    32267
268496.0    23186
48570.0     21186
27080.0     18891
37739.0     18645
Name: regionidneighborhood, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2971237.0
mean      96552.7
std        3673.2
min       95982.0
25%       96180.0
50%       96377.0
75%       96974.0
max      399675.0
Name: regionidzip, dtype: float64
#
96987.0    22021
96193.0    21759
97118.0    20612
97319.0    20310
96964.0    19898
Name: regionidzip, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2973742.0
mean          1.5
std           2.8
min           0.0
25%           0.0
50%           0.0
75%           0.0
max          96.0
Name: roomcnt, dtype: float64
#
0.0    2308879
6.0     178357
7.0     156397
8.0     120227
5.0      99582
Name: roomcnt, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   1624.0
mean       7.0
std        0.0
min        7.0
25%        7.0
50%        7.0
75%        7.0
max        7.0
Name: storytypeid, dtype: float64
#
7.0    1624
Name: storytypeid, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   311631.0
mean         1.0
std          0.1
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          7.0
Name: threequarterbathnbr, dtype: float64
#
1.0    308959
2.0      2338
3.0       261
4.0        46
5.0        16
Name: threequarterbathnbr, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   6747.0
mean       6.0
std        0.4
min        4.0
25%        6.0
50%        6.0
75%        6.0
max       13.0
Name: typeconstructiontypeid, dtype: float64
#
6.0     6670
4.0       59
13.0      14
10.0       3
11.0       1
Name: typeconstructiontypeid, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   1977490.0
mean          1.2
std           2.4
min           1.0
25%           1.0
50%           1.0
75%           1.0
max         997.0
Name: unitcnt, dtype: float64
#
1.0    1780051
2.0     115652
4.0      39877
3.0      39830
5.0        588
Name: unitcnt, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   80355.0
mean      319.8
std       233.1
min        10.0
25%       190.0
50%       270.0
75%       390.0
max      7983.0
Name: yardbuildingsqft17, dtype: float64
#
240.0    3190
200.0    2980
300.0    2272
180.0    1492
288.0    1443
Name: yardbuildingsqft17, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2647.0
mean     278.3
std      369.7
min       10.0
25%       96.0
50%      168.0
75%      320.0
max     6141.0
Name: yardbuildingsqft26, dtype: float64
#
120.0    91
100.0    69
240.0    61
160.0    55
80.0     53
Name: yardbuildingsqft26, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2925289.0
mean       1964.3
std          23.4
min        1801.0
25%        1950.0
50%        1963.0
75%        1981.0
max        2015.0
Name: yearbuilt, dtype: float64
#
1955.0    88586
1950.0    76142
1954.0    73307
1953.0    67085
1956.0    65736
Name: yearbuilt, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   682069.0
mean         1.4
std          0.5
min          1.0
25%          1.0
50%          1.0
75%          2.0
max         41.0
Name: numberofstories, dtype: float64
#
1.0    424186
2.0    242125
3.0     15678
4.0        58
5.0        11
Name: numberofstories, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count     2930235.0
mean       170883.6
std        402068.3
min             1.0
25%         74800.0
50%        122590.0
75%        196889.0
max     251486000.0
Name: structuretaxvaluedollarcnt, dtype: float64
#
100000.0    1880
102461.0    1578
104510.0    1513
200000.0    1418
107401.0    1411
Name: structuretaxvaluedollarcnt, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count     2942667.0
mean       420479.0
std        726346.7
min             1.0
25%        179675.0
50%        306086.0
75%        488000.0
max     282786000.0
Name: taxvaluedollarcnt, dtype: float64
#
9.0         1889
400000.0    1572
350000.0    1511
450000.0    1459
500000.0    1339
Name: taxvaluedollarcnt, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2973778.0
mean       2015.0
std           0.0
min        2000.0
25%        2015.0
50%        2015.0
75%        2015.0
max        2016.0
Name: assessmentyear, dtype: float64
#
2015.0    2972420
2014.0       1306
2012.0         26
2004.0          6
2013.0          4
Name: assessmentyear, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count    2917484.0
mean      252478.0
std       445013.2
min            1.0
25%        74836.0
50%       167042.0
75%       306918.0
max     90246219.0
Name: landtaxvaluedollarcnt, dtype: float64
#
20980.0    3804
22414.0    2474
16275.0    2377
19149.0    2218
9.0        2172
Name: landtaxvaluedollarcnt, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   2953967.0
mean       5377.6
std        9183.1
min           1.3
25%        2461.1
50%        3991.8
75%        6201.0
max     3458861.1
Name: taxamount, dtype: float64
#
345.7     171
1844.2    124
1045.9    110
5.0       103
1481.2    102
Name: taxamount, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count   56464.0
mean       13.9
std         2.6
min         0.0
25%        14.0
50%        14.0
75%        15.0
max        99.0
Name: taxdelinquencyyear, dtype: float64
#
15.0    26068
14.0    16826
13.0     4632
12.0     3124
11.0     2350
Name: taxdelinquencyyear, dtype: int64
>>>>>>>>>>>>>>>>>>>>

count           2910091.0
mean     60484312212574.4
std        324903454737.3
min                  -1.0
25%      60374002041015.0
50%      60375715022011.0
75%      60590423191014.0
max     483030105084015.0
Name: censustractandblock, dtype: float64
#
60379203391054.0    1171
60371371031000.0     881
60379200312000.0     811
60590626225003.0     807
60590524272002.0     806
Name: censustractandblock, dtype: int64
>>>>>>>>>>>>>>>>>>>>

In [11]:
# correlation between features
# correlation between feature and logerror, abslogerror, positive logerror, negative logerror

# column1 = 'taxamount'
# column2 = 'taxvaluedollarcnt'
# prop.corr()[column1][column2]

# Too many features, kan bu qing
# import seaborn as sns
# sns.heatmap(prop.corr())

corr = prop.corr()

In [12]:
# # Stack approach
# stacked_corr = corr.stack()
# stacked_corr = stacked_corr.reset_index()
# stacked_corr = stacked_corr[stacked_corr['level_0'] != stacked_corr['level_1']]
# # High correlation columns
# threshold = 0.7
# high_corr = stacked_corr[
#     (stacked_corr[0] > threshold) | (stacked_corr[0] < -threshold)]
# high_corr

In [13]:
# https://stackoverflow.com/questions/38552055/how-to-scan-a-panda-dataframe-for-all-values-greater-than-something-and-returns

threshold = 0.7

# Extract values and row, column names
arr = corr.values
index_names = corr.index
col_names = corr.columns

#  Get indices where such threshold is crossed; avoid diagonal elems
R,C = np.where((np.triu(arr,1) > threshold) | (np.triu(arr,1) < -threshold))

# Arrange those in columns and put out as a dataframe
out_arr = np.column_stack((index_names[R],col_names[C],arr[R,C]))
df_out = pd.DataFrame(out_arr,columns=[['row_name','col_name','value']])

/home/hzn/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:11: RuntimeWarning: invalid value encountered in greater
/home/hzn/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:11: RuntimeWarning: invalid value encountered in less

In [15]:
df_out

                        row_name                      col_name value
0          airconditioningtypeid                          fips   0.8
1          airconditioningtypeid        rawcensustractandblock   0.8
2          airconditioningtypeid                regionidcounty  -0.8
3          airconditioningtypeid                       roomcnt   0.8
4          airconditioningtypeid           censustractandblock   0.8
5       architecturalstyletypeid                       unitcnt  -1.0
6                    bathroomcnt                    bedroomcnt   0.7
7                    bathroomcnt             calculatedbathnbr   1.0
8                    bathroomcnt          finishedsquarefeet12   0.7
9                    bathroomcnt                   fullbathcnt   1.0
10         buildingqualitytypeid                  garagecarcnt   0.8
11             calculatedbathnbr          finishedsquarefeet12   0.8
12             calculatedbathnbr          finishedsquarefeet15   0.7
13             calculatedbathnbr                   fullbathcnt   1.0
14      finishedfloor1squarefeet  calculatedfinishedsquarefeet   0.7
15      finishedfloor1squarefeet          finishedsquarefeet12   0.7
16      finishedfloor1squarefeet          finishedsquarefeet15   0.8
17      finishedfloor1squarefeet          finishedsquarefeet50   1.0
18  calculatedfinishedsquarefeet          finishedsquarefeet12   1.0
19  calculatedfinishedsquarefeet          finishedsquarefeet13   1.0
20  calculatedfinishedsquarefeet          finishedsquarefeet15   1.0
21  calculatedfinishedsquarefeet           finishedsquarefeet6   1.0
22          finishedsquarefeet12          finishedsquarefeet15   1.0
23          finishedsquarefeet12                   fullbathcnt   0.8
24          finishedsquarefeet12    structuretaxvaluedollarcnt   0.7
25          finishedsquarefeet13            yardbuildingsqft26   1.0
26          finishedsquarefeet15          finishedsquarefeet50   0.8
27          finishedsquarefeet15                   fullbathcnt   0.7
28          finishedsquarefeet15                  garagecarcnt   0.7
29          finishedsquarefeet15                   poolsizesum   0.9
30          finishedsquarefeet15                       unitcnt   0.8
31          finishedsquarefeet15            yardbuildingsqft17   0.8
32                          fips        rawcensustractandblock   1.0
33        typeconstructiontypeid                       unitcnt  -1.0
34    structuretaxvaluedollarcnt             taxvaluedollarcnt   0.8
35    structuretaxvaluedollarcnt                     taxamount   0.8
36             taxvaluedollarcnt         landtaxvaluedollarcnt   0.9
37             taxvaluedollarcnt                     taxamount   0.9
38         landtaxvaluedollarcnt                     taxamount   0.8

In [16]:
# # Interesting correlations:

# # bathroom
# 6	bathroomcnt	bedroomcnt	0.7
# 7	bathroomcnt	calculatedbathnbr	1.0 expected
# 9	bathroomcnt	fullbathcnt	1.0 expected
# 13	calculatedbathnbr	fullbathcnt	1.0 expected
# 8	bathroomcnt	finishedsquarefeet12 	0.7 finished living area
# 23	fullbathcnt	finishedsquarefeet12	0.8
# 27  fullbathcnt	finishedsquarefeet15    0.7
# 11	calculatedbathnbr	finishedsquarefeet12	0.8
# 12	calculatedbathnbr	finishedsquarefeet15	0.7 Total area

# # building quality and garage
# 10	buildingqualitytypeid	garagecarcnt	0.8

# # areas
# 14	finishedfloor1squarefeet	calculatedfinishedsquarefeet	0.7
# 15	finishedfloor1squarefeet	finishedsquarefeet12	0.7
# 16	finishedfloor1squarefeet	finishedsquarefeet15	0.8
# 17	finishedfloor1squarefeet	finishedsquarefeet50	1.0
# 18	calculatedfinishedsquarefeet	finishedsquarefeet12	1.0
# 19	calculatedfinishedsquarefeet	finishedsquarefeet13	1.0
# 20	calculatedfinishedsquarefeet	finishedsquarefeet15	1.0
# 21	calculatedfinishedsquarefeet	finishedsquarefeet6	1.0
# 22	finishedsquarefeet12	finishedsquarefeet15	1.0
# 25	finishedsquarefeet13	yardbuildingsqft26	1.0
# 26	finishedsquarefeet15	finishedsquarefeet50	0.8
# 28	finishedsquarefeet15	garagecarcnt	0.7
# 29	finishedsquarefeet15	poolsizesum	0.9
# 30	finishedsquarefeet15	unitcnt	0.8
# 31	finishedsquarefeet15	yardbuildingsqft17	0.8

# # tax
# 24	finishedsquarefeet12	structuretaxvaluedollarcnt	0.7
# 34	structuretaxvaluedollarcnt	taxvaluedollarcnt	0.8
# 35	structuretaxvaluedollarcnt	taxamount	0.8
# 36	taxvaluedollarcnt	landtaxvaluedollarcnt	0.9
# 37	taxvaluedollarcnt	taxamount	0.9
# 38	landtaxvaluedollarcnt	taxamount	0.8