In [1]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import KFold
import pandas as pd
import numpy as np

In [2]:
d = {'c1': [10, 20, 30, 40, 50], 'c2': [15, 23, 36, 45, 50], 'y':[1, 3, 5, 7, 9]}
df = pd.DataFrame(data=d)

In [3]:
kf = KFold(n_splits=2, shuffle=True, random_state=42)

In [4]:
df

   c1  c2  y
0  10  15  1
1  20  23  3
2  30  36  5
3  40  45  7
4  50  50  9

In [28]:
preds = []

In [5]:
models = [
    LinearRegression(),
    Ridge(),
    Lasso()
]

In [6]:
X, y = df[['c1', 'c2']], df['y']
X

   c1  c2
0  10  15
1  20  23
2  30  36
3  40  45
4  50  50

In [14]:
first_layer_preds = []
for model in models:
    preds = []
    for train_index, test_index in kf.split(X):
        X_train, y_train = X.loc[train_index], y.loc[train_index]
        X_test, y_test = X.loc[test_index], y.loc[test_index]
        model.fit(X_train, y_train)
        preds.append(pd.Series(model.predict(X_test), test_index))
    first_layer_preds.append(pd.concat(preds).sort_index())

In [16]:
preds

[1    3.022222
 2    4.977778
 4    8.888889
 dtype: float64, 0    1.150000
 3    6.957143
 dtype: float64]

In [13]:
pd.concat(preds).sort_index()

0    1.150000
1    3.022222
2    4.977778
3    6.957143
4    8.888889
dtype: float64

In [15]:
first_layer_preds

[0    1.0
 1    2.8
 2    5.1
 3    7.0
 4    8.5
 dtype: float64, 0    0.994910
 1    2.801332
 2    5.098779
 3    7.038587
 4    8.495006
 dtype: float64, 0    1.150000
 1    3.022222
 2    4.977778
 3    6.957143
 4    8.888889
 dtype: float64]

In [17]:
first_layer = pd.concat(first_layer_preds,axis=1)

In [18]:
first_layer

     0         1         2
0  1.0  0.994910  1.150000
1  2.8  2.801332  3.022222
2  5.1  5.098779  4.977778
3  7.0  7.038587  6.957143
4  8.5  8.495006  8.888889

In [12]:
for train_index, test_index in kf.split(X):
    print(first_layer.loc[train_index])
    print(first_layer.loc[test_index])

     0         1         2
0  1.0  0.994910  1.150000
3  7.0  7.038587  6.957143
     0         1         2
1  2.8  2.801332  3.022222
2  5.1  5.098779  4.977778
4  8.5  8.495006  8.888889
     0         1         2
1  2.8  2.801332  3.022222
2  5.1  5.098779  4.977778
4  8.5  8.495006  8.888889
     0         1         2
0  1.0  0.994910  1.150000
3  7.0  7.038587  6.957143

In [38]:
for fold in kf:
    print(fold)

TypeError: 'KFold' object is not iterable